<div layout="row" class="page-wrapper" layout-wrap>
    <h1>
      Angular based {{ title }}!
    </h1>
    <p>Both screens will display a list of Tweets with different searching options.
        Use the search input field to query the results by Twitter hashtag and username.</p>

    <mat-tab-group>
      <mat-tab label="Hashtag Search">
          <app-hashtag-tweets></app-hashtag-tweets>
      </mat-tab>
      <mat-tab label="User Search">
          <app-user-tweets></app-user-tweets>
      </mat-tab>
    </mat-tab-group>

    <router-outlet></router-outlet>
</div>
