<mat-card>

  <!--Search input field to filter table data-->
  <div class="search-container" style="direction: rtl;">
    <mat-form-field>
      <mat-icon matPrefix aria-hidden="false" aria-label="Search">search</mat-icon>
      <input matInput #hashtagsSearchInput placeholder="Search by hashtag" [(ngModel)]="myCustomHashtag">
    </mat-form-field>
  </div>

  <!--display loading spinner whilst data loads-->
  <div class="preloader" *ngIf="isLoading"
        style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
  </div>

  <!--Table populated by twitter hashtags API feed-->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef> Tweet </th>
      <td mat-cell class="tweet-text" *matCellDef="let hashtags"> {{hashtags.text | ellipsis: 50}} </td>
    </ng-container>
    <ng-container matColumnDef="likes">
      <th class="centerData" mat-header-cell *matHeaderCellDef> Likes </th>
      <ng-container *matCellDef="let hashtags">
        <td class="centerData" mat-cell *ngIf="(hashtags.likes>0); else noLikes"> {{hashtags.likes}} </td>
      </ng-container>
      <ng-template #noLikes>
        <td class="centerData" mat-cell> - </td>
      </ng-template>
    </ng-container>
    <ng-container matColumnDef="replies">
      <th class="centerData" mat-header-cell *matHeaderCellDef> Replies </th>
      <ng-container *matCellDef="let hashtags">
        <td class="centerData" mat-cell *ngIf="(hashtags.replies>0); else noReplies"> {{hashtags.replies}} </td>
      </ng-container>
      <ng-template #noReplies>
        <td class="centerData" mat-cell> - </td>
      </ng-template>
    </ng-container>
    <ng-container matColumnDef="retweets">
      <th class="centerData" mat-header-cell *matHeaderCellDef> Retweets </th>
      <ng-container *matCellDef="let hashtags">
        <td class="centerData" mat-cell *ngIf="(hashtags.retweets>0); else noRetweets"> {{hashtags.retweets}} </td>
      </ng-container>
      <ng-template #noRetweets>
        <td class="centerData" mat-cell> - </td>
      </ng-template>
    </ng-container>
    <ng-container matColumnDef="hashtags">
      <th mat-header-cell *matHeaderCellDef> Hashtags </th>
      <td mat-cell *matCellDef="let hashtags"> {{hashtags.hashtags | slice:0:2}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let hashtags"> {{convertDate(hashtags.date)}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

<!--Table pagination-->
<mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [showFirstLastButtons]="yes">
</mat-paginator>